@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.image-logo{
    width: 50px;
    height: 50px;
    border-radius: 12px;

}
.flex{
    display: flex;
}
.pd{
    padding: 10px;
}
.box1 {
    background-image: url("img/group.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* This makes the image cover the entire box */
    background-position: center; /* Centers the image within the box */
    width: 100%;
    height: 700px;
}

.box2{
    background-color: white;
    background-size: cover; /* This makes the image cover the entire box */
    background-position: center; /* Centers the image within the box */
    width: 100%;
    height: 700px;
}
.f-tittle{
        padding-top: 112px;
        text-align: center;
        color: white;
        font-feature-settings: "abvs";
        font-size: 50px;
   
}
.p-2{
    justify-content: center;
    justify-items: center;
    text-align: center;
   
}

.box2-item-img{
    height: 100px;
    padding: 50px;
}

.text{
    justify-content: center;
}


/* location Title */
.locatio-title{
    text-align: center;

}
.m-20{
    margin-top: 20px;
}

/* Text style */

/* fouter */